
h1 {
  text-align:center;
}

p {
  border: 1px solid black;
  width: 35%;
  height: 150px;
  color: white;
  text-align: center;
  border-radius: 70%;
  margin: 40px auto;
  padding-top: 100px;

  font-size: 30px;
}

#greenplanet {background:green;}
#redplanet {background:red;}
#blueplanet {background:blue;}



