
h1 {
  margin-left: 25%;
}

.container {
  border: 1px black solid;
  width: 50%;
  height: 300px;
  margin: auto;
  margin-top: 150px;
  border-radius: 30px;
  background-color: #f2f2f2;
  
}

label {
  margin-left: 25%;
}

input  {
  width: 50%;
  height: 35px;
  margin-top: 10px;
  margin-left: 25%;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border-width: 1px;
}

input[type=text]:focus {
}


input[type=button] {
  background-color: green;
  color: white;
}

/* input[type=password] {
   width: 50%;
   } */
